.container__button-action {
    background-color: var(--background);
    min-height: 70px;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    right: 5px;
    width: 70px;
    .button-action {
        border-radius: 50%;
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        width: 50px;
        background-color: var(--tertiary);
    }
}
