.buttom-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--surface);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    
    .buttom-nav-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .2rem;
      padding: 0;
      transition: background-color 0.3s ease;
      
      &.active {

        .pragmate-icon-button.btn-default.ripple svg {
            fill: var(--primary-container);
        }
      }

      &__span {
        display: flex;
        position: relative;
        right: 10px;
        top: 2px;
        flex-direction: column;
        font-size: 14px;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  
  