.container__table {
    padding: 2rem;
    border-radius: var(--border-radius-base);
}

.page__container-products {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
