:root {
	--primary: #6371c4;
	--primary-100: #ffffff;
	--primary-99: #fffbff;
	--primary-98: #fbf8ff;
	--primary-95: #f0efff;
	--primary-90: #dee0ff;
	--primary-80: #bbc3ff;
	--primary-70: #98a5fd;
	--primary-60: #7d8be0;
	--primary-50: #6371c4;
	--primary-40: #4a58a9;
	--primary-35: #3e4b9c;
	--primary-30: #313f90;
	--primary-25: #253384;
	--primary-20: #182778;
	--primary-10: #000f5d;
	--primary-0: #000000;

	/* Secondary */
	--secondary: #74768b;
	--secondary-100: #ffffff;
	--secondary-99: #fffbff;
	--secondary-98: #fbf8ff;
	--secondary-95: #f0efff;
	--secondary-90: #e0e1f9;
	--secondary-80: #c4c5dd;
	--secondary-70: #a8aac1;
	--secondary-60: #8d8fa6;
	--secondary-50: #74768b;
	--secondary-40: #5b5d72;
	--secondary-35: #4f5165;
	--secondary-30: #434559;
	--secondary-25: #383a4d;
	--secondary-20: #2d2f42;
	--secondary-10: #181a2c;
	--secondary-0: #000000;



	/* Tertiary */
	--tertiary: #916c86;
	--tertiary-100: #ffffff;
	--tertiary-99: #fffbff;
	--tertiary-98: #fff7f9;
	--tertiary-95: #ffecf6;
	--tertiary-90: #ffd7f1;
	--tertiary-80: #e6Bad7;
	--tertiary-70: #c99fbb;
	--tertiary-60: #ad85a0;
	--tertiary-50: #916c86;
	--tertiary-40: #77536d;
	--tertiary-35: #6a4860;
	--tertiary-30: #5d3c54;
	--tertiary-25: #513149;
	--tertiary-20: #44263d;
	--tertiary-10: #2d1227;
	--tertiary-0: #000000;

	//error

	--error: #ff5449;
	--error-100: #ffffff;
	--error-99: #fffbff;
	--error-98: #fff8f7;
	--error-95: #ffedea;
	--error-90: #ffdad6;
	--error-80: #ffb4ab;
	--error-70: #ff897d;
	--error-60: #ff5449;
	--error-50: #db3a33;
	--error-40: #b81f1e;
	--error-35: #a60f13;
	--error-30: #93000a;
	--error-25: #7e0007;
	--error-20: #690005;
	--error-15: #540003;
	--error-10: #410002;
	--error-5: #2d0001;
	--error-0: #000000;

	//success

	--success: #007e33;
	--success-100: #ffffff;
	--success-99: #f5fff5;
	--success-98: #e9ffed;
	--success-95: #c0ffd6;
	--success-90: #92f7bc;
	--success-80: #76daa2;
	--success-70: #5abe88;
	--success-60: #3ca36f;
	--success-50: #188857;
	--success-40: #006d43;
	--success-35: #005f3a;
	--success-30: #005231;
	--success-25: #004529;
	--success-20: #003920;
	--success-15: #002d19;
	--success-10: #002111;
	--success-5: #001509;
	--success-0: #000000;

	//info

	--info: #0099cc;
	--info-0: #000000;
	--info-10: #000d11;
	--info-20: #001a22;
	--info-30: #002633;
	--info-40: #004d66;
	--info-50: #0080aa;
	--info-60: #009acc;
	--info-70: #00d6ff;
	--info-80: #00f5ff;
	--info-90: #c3e8ff;
	--info-95: #e3f3ff;
	--info-98: #f5faff;
	--info-100: #ffffff;
	//warning

	--warning: #ff8800;
	--warning-0: #000000;
	--warning-10: #150b00;
	--warning-20: #2b1700;
	--warning-30: #402200;
	--warning-40: #804400;
	--warning-50: #d47200;
	--warning-60: #ff8800;
	--warning-70: #ffbe00;
	--warning-80: #ffda00;
	--warning-90: #fff500;
	--warning-95: #ffff00;
	--warning-98: #ffff00;
	--warning-100: #ffffff;
}
