@mixin neutral-palette() {
	/* neutral */
	--neutral-100: #ffffff;
	--neutral-99: #fffbff;
	--neutral-98: #fbf8fd;
	--neutral-95: #f3f0f4;
	--neutral-90: #e4e1e6;
	--neutral-80: #c8c5ca;
	--neutral-70: #acaaaf;
	--neutral-60: #929094;
	--neutral-50: #78767a;
	--neutral-40: #5f5e62;
	--neutral-35: #535256;
	--neutral-30: #47464a;
	--neutral-25: #3b3b3f;
	--neutral-20: #303034;
	--neutral-10: #1b1b1f;
	--neutral-0: #000000;

	/* --neutral-variant */
	--neutral-variant-100: #ffffff;
	--neutral-variant-99: #fffbff;
	--neutral-variant-98: #fbf8ff;
	--neutral-variant-95: #f1effa;
	--neutral-variant-90: #e3e1ec;
	--neutral-variant-80: #c7c5d0;
	--neutral-variant-70: #abaab4;
	--neutral-variant-60: #90909a;
	--neutral-variant-50: #767680;
	--neutral-variant-40: #5e5e67;
	--neutral-variant-35: #51525b;
	--neutral-variant-30: #46464f;
	--neutral-variant-25: #3a3b43;
	--neutral-variant-20: #2f3038;
	--neutral-variant-10: #1a1b23;
	--neutral-variant-0: #000000;

}
