.container-contact {
    border-radius: var(--border-radius-base);
    background-color: var(--surface-variant);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .content-image-profile--border {
        border: 1px solid var(--outline);
        border-radius: 50%;
        overflow: hidden;
        .pui-image {
            min-height: 30px;
            width: 70px;
        }
    }

    & .content-data {
        display: flex;
        gap: .3rem;
        flex-direction: column;

        
    }
}