.page__container-account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;
    height: 100%;
    padding: 1rem 2rem;

    .content-total {
        margin-top: 9rem;

        &__span {
            font-size: 16px;
        }
    }

    .section-content-tab {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}