.content-history {
    background: var(--surface-variant);
    width: auto;
    min-height: 70px;
    border-radius: var(--border-radius-base);
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;

    &__info {
        display: flex;
        flex-direction: column;
        gap: .5rem;


        .description--info {
            font-size: 10px;
        }
    }

    &__amount {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        .amount--income {
            color: var(--success);
        }
        
        .amount--expense {
            color: var(--error);
        }

        .date--amount {
            font-size: 10px;
        }
    }
}