.shadow {
    z-index: 2;
    background-color: rgba(35, 37, 37, 0.5); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 191vh;
    min-width: 500px;
    position: absolute;
    width: 100%;
    position: relative;
  backdrop-filter: blur(2px);

  position: fixed;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary);
    z-index: 30;
    

    &__toggle.pragmate-icon-button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        outline: none;
        cursor: pointer;
        svg.pui-icon {
            fill: var(--secondary);
        }
    }
    &__content {
        -webkit-box-shadow: 5px 3px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 3px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 3px 13px 0px rgba(0,0,0,0.75);
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background-color: var(--surface);
        z-index: 20;
        transition: all 300ms ease-in-out;
        display: flex;
        flex-direction: column;
        &__hide {
            transform: translateX(-320px);
        }

        .side-menu--flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0rem .8rem;
            border-bottom: 1px solid var(--primary);
            align-items: center;
            min-height: 80px;
            header {
                display: flex;
                align-items: center;
                min-height: 13px;
                align-items: center;
                height: 13px;
                column-gap: 16px;
                padding-bottom: 16px;
                padding: 16px;
                .image-menu {
                    width: 64px;
                    height: 64px;
                    background-color: var(--surface);
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    .beyond-element-image {
                        width: 22px;
                        height: 18px;
                    }
                }
                span {
                    font-weight: bold;
                    font-size: 18px;
                    color: var(--text-color);
                }
            }
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: var(--background);
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    &__item a {
        display: flex;
        column-gap: .5rem;
        align-items: center;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &:hover, &:active, &:focus {
            text-shadow: 0 0 10px var(--primary-container);
        }
        
        span {
            display: block;
            font-size: 16px;
            color: var(--primary);
            font-weight: bold;
        }

        svg.pui-icon {
            width: 24px;
            height: 24px;
            fill: var(--primary);
        }
    }
}
