.bottom-nav-menu {
	.buttom-nav-item {
		flex: 1;
		display: grid;
		place-items: center;
		flex-direction: row;
		align-items: center;
		gap: 0.2rem;
		padding: 0;
		transition: background-color 0.3s ease;
		color: var(--text-color);

		.buttom-nav-item__span {
			color: var(--text-color);
		}
		&.active {
			.pui-icon,
			&.pragma-icon {
				fill: var(--primary-container);
			}
		}

		.buttom-nav-item__span {
			position: relative;
			text-transform: uppercase;
			font-size: 0.55rem;
		}
	}
}
