.container-form__section {
    padding: 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-form {
    display: flex;
    flex-direction: column;
    gap: none;
    align-items: center;
    min-width: 100%;
    gap: 1rem;
    .form-group {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        gap: .5rem;

        .pui-element-input {
            min-height: 55px;
        }
    }


    .pui-button {
        margin-top: 1rem;
        min-height: 50px;
        align-self: flex-end;
    }

}