.container__nav-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 90%;
    padding: 0rem .5rem;
    align-items: center;
    position: relative;

    .content-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-width: 90%;
    }

    .pui-button {
        min-width: 80px;
        border-radius: var(--border-radius-base);
    }
}