.content-main--money {
    border: 1px solid var(--outline);
    border-radius: var(--border-radius-base);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 5rem;
    width: 100%;
    margin: 0rem 1rem;

    .content-border-icon--main {
        border-radius: 50%;
        background-color: var(--primary);
    }
}