.balance-card {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 20.5rem;
    min-height: 6.813rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius-base);
    background-color: var(--primary-container);

    .content-balance {

        .content-balance__h3 {
            font-size: 24px;
        }


        .balance-text {
            position: absolute;
            background-color: var(--tertiary);
            width: 7.375rem;
            height: 3.438rem;
            border-radius: var(--border-radius-base);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--tertiary);
            right: 30px;
        }
    }
}